<div class="container">	
	<div class="jumbotron"> 
		<img src="/assets/images/burger.png"> 
		<h1> Eat-Da-Burger! </h1>
	</div>

	{{!-- burger list before being devoured --}}
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div class="panel-panel default">
				<ul class="list-group">
				{{#each burgers}}
					{{#unless this.devoured}}
					<li class="list-group-item">
						<div class="input-group">
							<p class="lead"> {{id}}.  {{this.burger_name}} </p>
							<span class="input-group-btn">
								<form>
                                    <button class="btn btn-danger btn-sm change-devoured" type="submit" data-newdevoured="true" data-id="{{id}}"> Devour It! </button>
								</form>
							</span>
						</div>
					</li>
					{{/unless}}
				{{/each}}
			    </ul>
		    </div>
		</div>

		{{!-- burger list after being devoured --}}
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-default">
				<ul class="list-group">
				{{#each burgers}}
					{{#if this.devoured}}
					<li class="list-group-item">
						<div class="input-group">
							<p class="lead"> {{id}}.  {{this.burger_name}} </p>
                            <span class="input-group-btn">
								<form>
                                    <button class="btn btn-danger btn-sm delete-burger" type="submit" data-id="{{id}}"> Clean the dishes </button>
								</form>
							</span>
						</div>
					</li>
					{{/if}}
				{{/each}}
				</ul>
			</div>
		</div>
        </div>
    </div>
    <div class="row">
	    <div class="col-md-4 col-md-offset-1 userInputDiv">
		    <p class="lead"> Add a new burger to menu & click the submit button </p>

		{{!-- section to add burgers using the post method in the html form--}}
		    <form class="create-update-form" action="/api/burgers/new" method="POST">

			    <div class="form-group">
				    <textarea class="form-control input-lg" type="text" name="name" rows="3"> </textarea>
			    </div>

			    <button class="btn btn-danger btn-md" type="submit">Submit!</button>
		    </form>
	    </div>
    </div>
</div>
